/**************************/
/*        HEADER          */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  height: 8rem;
  padding: 0 2.4rem;
  margin: 0 2.4rem;

  border-bottom: 2px solid #ced4da;
}

.header a:link,
.header a:visited {
  display: block;
  text-decoration: none;
}

.link-logo {
  color: #495057;
  font-weight: 500;
}

.logo {
  height: 2.4rem;
}

.link-logo-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/**************************/
/*        NAVIGATION      */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.top-nav-link:link,
.top-nav-link:visited {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  background-color: #c0a985;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.top-nav-link:hover,
.top-nav-link:active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.showroom-link:link,
.showroom-link:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  background-color: #694e24;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.showroom-link:hover,
.showroom-link:active {
  box-shadow: 0 0 0 2px rgba(15, 11, 5, 0.8);
}

/**************************/
/*      HERO SECTION      */
/**************************/

.section-hero {
  padding: 3.2rem 0;
}

.container-hero {
  display: grid;
  background-color: #e0d4c2;
  grid-template-columns: 60fr 40fr;

  border-radius: 35px;
  overflow: hidden;
}

.text-box {
  padding: 6.4rem 3.2rem;
}

.hero-header-text {
  font-size: 4.4rem;
  font-weight: 700;
  color: #495057;

  line-height: 1.2;
}

.subheading-text {
  font-size: 1.4rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.hero-paragraph {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.hero-img {
  background-image: url("../images/hero-section/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

.btn:link,
.btn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  background-color: #694e24;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 0.8rem;
}

.button-box {
  display: flex;
  gap: 1.2rem;
}

/**************************/
/*      Categories        */
/**************************/

.categories-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
}

.categories-icons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 3.2rem;
  border-radius: 50%;

  width: 10rem;
  height: 10rem;

  background-color: #e9ecef;
}

.icon-style {
  font-size: 3.6rem;
  color: #694e24;
}

.icon-text {
  font-size: 1.2rem;
  font-weight: 500;
}

/**************************/
/*      Popular Products  */
/**************************/

.popular-products {
  padding: 3.2rem 0;
  gap: 2.4rem;
}

.products-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 2.4rem 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  padding: 1.6rem;
}

.product-image {
  width: 32rem;
  height: 32rem;
}

.product-title {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.product-subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.product-rating-sales {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 2.4rem; */
}

.rating {
  font-size: 1.8rem;
}

.star-icon {
  font-size: 2rem;
  color: #f08c00;
}

.number-sold {
  font-size: 1.2rem;
  background-color: #e0d4c2;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  margin-left: 2.4rem;
}

.price-box {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  gap: 2.4rem;
}

.product-price {
  font-size: 2.4rem;
  font-weight: 500;
}

.btn--add-to-cart,
.btn--purchase {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  background-color: #694e24;
  color: #fff;

  border: none;
}

.see-more {
  justify-content: center;
  align-self: center;
}

.see-more-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more-icon {
  font-size: 3.6rem;
}

.more-products {
  font-size: 1.2rem;
  font-weight: 500;
}

/**************************/
/*     Colaboration       */
/**************************/
.colaboration {
  padding-bottom: 3.2rem;
}

.heading-secondary-center {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.design {
  background-image: url("/images/background-img/art-deco-1-1.png");
  background-size: cover;
  border-radius: 20px;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.heritage {
  background-image: url("/images/background-img/background-img-1-1-3.jpg");
  background-size: cover;
  border-radius: 20px;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.work-with-us {
  background-image: url("/images/background-img/background-img-3-3.jpg");
  background-size: cover;
  border-radius: 20px;

  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.custom-grid-2-3 {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.design,
.heritage {
  padding: 4.2rem 3.2rem;
}

.generic-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  border-radius: 20px;
}

.heading-generic {
  font-size: 2.4rem;
}

.heading-generic-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.gray-box {
  background-color: rgba(73, 80, 87, 0.75);
  color: #fff;
}

.white-box {
  background-color: rgba(255, 255, 255, 0.75);
  color: #495057;
}

.work-with-us {
  padding: 4.8rem 3.2rem;
}

.wood-box {
  background-color: rgba(105, 79, 36, 0.75);
  color: #fff;
}

.work-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem;
  border-radius: 20px;
}

.heading-tertiary {
  font-size: 4.8rem;
}

.work-box-text {
  font-size: 1.6rem;
  line-height: 1.5;
}

.art-deco-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.art-deco-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.art-deco-form input,
.art-deco-form select {
  width: 70%;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e9ecef;
  border-radius: 11px;
  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.art-deco-form input::placeholder {
  color: #495057;
}

.art-deco-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(73, 80, 87, 0.5);
}

.form-btn {
  display: inline-block;
  text-decoration: none;

  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;

  width: 70%;

  align-self: flex-end;

  padding: 1.2rem;

  border: 2px solid #fff;
  border-radius: 11px;
  background-color: #694e24;
  color: #fff;
}
