/**************************/
/*        HEADER          */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  height: 8rem;
  padding: 0 2.4rem;
  margin: 0 2.4rem;

  border-bottom: 2px solid #ced4da;
}

.header a:link,
.header a:visited {
  display: block;
  text-decoration: none;
}

.link-logo {
  color: #495057;
  font-weight: 500;
}

.logo {
  height: 2.4rem;
}

.link-logo-text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/**************************/
/*        NAVIGATION      */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.top-nav-link:link,
.top-nav-link:visited {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  background-color: #c0a985;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.top-nav-link:hover,
.top-nav-link:active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.showroom-link:link,
.showroom-link:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  background-color: #694e24;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.showroom-link:hover,
.showroom-link:active {
  box-shadow: 0 0 0 2px rgba(15, 11, 5, 0.8);
}

/**************************/
/*      HERO SECTION      */
/**************************/

.section-hero {
  padding: 3.2rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
}

.container-hero {
  display: grid;
  background-color: #e0d4c2;
  grid-template-columns: 60fr 40fr;

  border-radius: 35px;
  overflow: hidden;
}

.text-box {
  padding: 6.4rem 3.2rem;
}

.hero-header-text {
  font-size: 4.4rem;
  font-weight: 700;
  color: #495057;

  line-height: 1.2;
}

.subheading-text {
  font-size: 1.4rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.hero-paragraph {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.hero-img {
  background-image: url("../images/hero-section/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

.btn:link,
.btn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  border-radius: 50px;
  background-color: #694e24;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 0.8rem;
}

.button-box {
  display: flex;
  gap: 1.2rem;
}

/**************************/
/*      Categories        */
/**************************/
